<!DOCTYPE html>
<html>
	<head>
		<title>Recetas</title>
	</head>
	<body>
		<h1>Mis Recetas</h1>
		<p>Estos son todas mis Recetas</p>
		
		<p th:text="${listadoProductos}"></p>
		<hr>
		<a href="/receta/list">Ver lista</a><hr>
        <a href="/receta/add">Añadir</a><hr>
        <a href="/receta/delete">Borrar</a><hr>
        <a href="/receta/listDificultad1">Mostrar recetas con dificultad 1</a><hr>
        <a href="/receta/listDificultad2">Mostrar recetas con dificultad 2</a><hr>
	</body>
</html>