<!DOCTYPE html>
<html>
	<head>
		<title>Tipos de Productos</title>
	</head>
	<body>
		<h1>Mis Tipos de Productos</h1>
		<p>Estos son todas mis Tipos de Productos</p>
		
		<p th:text="${listadoProductos}"></p>
		<hr>
		<a href="/tipo/list">Ver lista</a><hr>
        <a href="/tipo/add">Añadir</a><hr>
        <a >NO SE DEBEN BORRAR TIPOS, YA QUE AL QUERER BORRAR TIPOS HAY QUE BORRAR PORDUCTOS, Y SI HAY QUE BORRAR PRODUCTOS HAY QUE BORRAR LAS RECETAS QUE CONTENGAN ESE PRODUCTO</a><hr>
	</body>
</html>