/* style.css */

:root {
    --color-var1: #0e0c1c; 
    --color-var2: #16122a;
    --color-var3: #1d1838;
    --color-var4: #241f46;
    --color-var5: #fe3254;
    
    --color-texto: #efeff0; 

    --color-boton-fondo: #4CAF50; 
    --color-boton-texto: white; 

    --color-gradient-1: #FFA500; 
    --color-gradient-2: #FFD700; 
    
    --color-square-bg-start: #3f3a65; /* Color de inicio para el gradiente de fondo de los cuadrados */
    --color-square-bg-end: #251e3e; /* Color de fin para el gradiente de fondo de los cuadrados */
    --color-square-text: #ffffff; /* Color de texto para los cuadrados */
}

body {
    background-color: var(--color-var2); 
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.generalContainer {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 50px 20px 0; 
    box-sizing: border-box; 
    text-align: center; 
}

.rounded-box {
    border-radius: 10px; 
    background-color: var(--color-var3); 
    padding: 40px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); 
}

h1 {
    color: var(--color-var5);
    font-size: 36px;
}

h2 {
    color: var(--color-texto);
    font-size: 24px;
}

p {
    color: var(--color-texto);
    margin-bottom: 20px;
}

.square {
    width: 200px; 
    height: 200px; 
    background: linear-gradient(to bottom, var(--color-square-bg-start), var(--color-square-bg-end)); /* Usamos gradiente para el fondo */
    border-radius: 10px; 
    margin: 0 20px; 
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    display: inline-block; 
    vertical-align: top; 
}

.number {
    font-size: 48px; 
    color: var(--color-square-text); /* Cambiamos el color del texto */
    animation: countUp 2s ease forwards;
}

@keyframes countUp {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.button-container {
    margin-top: 40px;
}

.btn {
    background-color: var(--color-boton-fondo); 
    border: none; 
    color: var(--color-boton-texto); 
    padding: 15px 30px; 
    text-align: center; 
    text-decoration: none; 
    font-size: 18px; 
    margin: 0 10px; 
    cursor: pointer; 
    border-radius: 6px; 
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #45a049; 
}
